<div class="page-header">
  <h1>YAY Yeoman!! <small>For working the first time<small></h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>

  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">You're Welcome!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div class="col-sm-6 col-md-4">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>
</div>

  <div class="col-sm-6 col-md-4">
  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
  </div>

  <div class="col-sm-6 col-md-4">
  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
</div>
